In [1]:
import pandas as pd
from bertopic import BERTopic

2023-12-05 04:05:31.105632: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-12-05 04:05:31.107769: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-05 04:05:31.150355: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-12-05 04:05:31.151284: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-05 04:05:31.844838: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
df = pd.read_json('data/it_jobs.jsonl', lines=True)
l = df['requirements'].tolist()
tmp = []
for i in l:
    try:
        if isinstance(i, str):
            l1 = i.split('\n')
        else:
            l1 = i
        tmp += l1
    except:
        continue
docs = tmp

In [3]:
topic_model = BERTopic.load("saved_model")

In [4]:
freq = topic_model.get_topic_info(); freq.head(5)

,Topic,Count,Name,Representation,Representative_Docs
0,-1,7175,-1_the_and_with_to,"[the, and, with, to, và, năng, javascript, of,...",NaN
1,0,1297,0_male___,"[male, , , , , , , , , ]",NaN
2,1,614,1_sql_mysql_oracle_database,"[sql, mysql, oracle, database, sở, postgresql,...",NaN
3,2,244,2_project_án_dự_projects,"[project, án, dự, projects, management, multip...",NaN
4,3,228,3_ngân_banking_financial_fintech,"[ngân, banking, financial, fintech, hàng, chín...",NaN

In [ ]:
freq.to_csv('freq.csv', index=False)